<div data-menu-target="newEmailModal"
     data-new-email-target="newEmailModal"
     class="absolute top-48">
  <div class="flex justify-center w-screen">
    <div class="w-[750px] dark:bg-neutral-800/90 backdrop-filter backdrop-blur border dark:border-neutral-700 rounded-xl shadow-md">
      <div class="">
        <div class="p-2 border-b border-neutral-700">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-x-1.5">
              <p class="text-sm text-neutral-400">To</p>
<!--              <input type="text">-->
            </div>
            <div class="flex items-center gap-x-1">
              <p class="text-xs text-neutral-400">Cc</p>
              <p class="text-xs text-neutral-400">Bcc</p>
            </div>
          </div>
        </div>
        <div class="p-2 border-b border-neutral-700"><p class="text-sm text-neutral-400">Subject</p></div>
        <div class="h-[350px] p-2 border-b border-neutral-700"></div>
        <div class="p-2">
          <div class="flex items-center justify-end gap-x-1">
            <button class="px-2 py-1 text-xs bg-neutral-700 rounded-md">Save as draft</button>
            <button class="inactive px-2 py-1 text-xs text-sky-100 bg-sky-600 rounded-md">Send email</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>