<div data-search-target="searchModal" class="hidden absolute bottom-16">
  <div class="flex justify-center w-screen">
    <div class="dark:bg-neutral-800 border dark:border-neutral-700 rounded-xl">
      <div class="p-1 border-b border-neutral-700">
        <label>
          <input type="text" autofocus placeholder="Search" class="w-96 px-2 py-1 bg-transparent border-none focus:ring-0 rounded-lg placeholder:text-sm placeholder:text-neutral-600">
        </label>
      </div>
      <div class="flex flex-col gap-y-0.5 p-1">
        <div data-search-target="searchItem" class="flex items-center justify-between p-2 text-neutral-400 hover:bg-neutral-700/50 rounded-lg">
          <div>
            <p class="text-xs font-medium">New email</p>
          </div>
          <div>
            <div class="flex items-center justify-center w-5 h-5 bg-neutral-600 rounded">
              <p class="text-xs font-medium text-neutral-400">N</p>
            </div>
          </div>
        </div>
        <div data-search-target="searchItem" class="flex items-center justify-between p-2 text-neutral-400 hover:bg-neutral-700/50 rounded-lg">
          <div>
            <p class="text-xs font-medium">New draft</p>
          </div>
          <div>
            <div class="flex items-center justify-center w-5 h-5 bg-neutral-600 rounded">
              <p class="text-xs font-medium text-neutral-400">D</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>