<div data-root-target="commandPalette"
     data-menu-target="searchModal"
     data-action="keydown@window->root#rootKeydown"
     class="hidden">
  <div class="absolute flex justify-center w-screen h-screen bg-black/20 z-20">
    <div class="fixed z-30 top-44 bg-modal border border-borderPrimary rounded-lg shadow-xl">
      <div class="p-1 border-b border-borderPrimary">
        <label>
          <!-- TODO: Fix nonresponsive width -->
          <input type="text" placeholder="Search inbox" class="w-[600px] px-2 py-1.5 bg-transparent border-none focus:ring-0 rounded-lg text-lg placeholder:text-lg placeholder:text-neutral-400">
        </label>
      </div>
      <div class="flex flex-col gap-y-0.5 p-1">
        <p class="p-1 text-xs font-medium text-neutral-500">Actions</p>
        <div aria-selected="false"
          class="group flex items-center justify-between p-2.5 text-neutral-400 hover:text-white aria-selected:text-white hover:bg-highlight aria-selected:bg-highlight rounded-md"
          data-root-target="commandPaletteItem">
          <div>
            <p class="text-sm">Create filter with prompt</p>
          </div>
          <div>
            <div class="flex items-center justify-center w-5 h-5 bg-neutral-600 group-hover:bg-neutral-500 rounded">
              <p class="text-xs font-medium text-neutral-400 group-hover:text-white">N</p>
            </div>
          </div>
        </div>
        <div aria-selected="false"
          class="group flex items-center justify-between p-2.5 text-neutral-400 hover:text-white aria-selected:text-white hover:bg-highlight aria-selected:bg-highlight rounded-md"
          data-root-target="commandPaletteItem">
          <div>
            <p class="text-sm">Create filter</p>
          </div>
          <div>
            <div class="flex items-center justify-center w-5 h-5 bg-neutral-600 group-hover:bg-neutral-500 rounded">
              <p class="text-xs font-medium text-neutral-400 group-hover:text-white">I</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
