<nav class="flex items-center justify-between w-full h-10 px-1 border-b border-neutral-700/40">
  <div class="flex items-center gap-x-1">
    <div data-controller="user-dropdown">
      <div data-action="click->user-dropdown#toggleDropdown"
          class="flex items-center justify-center w-8 h-8 text-neutral-400 hover:text-white rounded-lg hover:bg-neutral-700 cursor-pointer">
        <%= render 'medium_profile_placeholder', color: current_user.profile_color.to_sym, name: current_user.first_name.first %>
      </div>
      <%= render 'shared/navigation/user' %>
    </div>
    <div data-root-target="filter"
        class="flex items-center">
      <p class="text-xs font-medium">Inbox<span class="ml-1 text-amber-500"><%= @email_threads.count %></span></p>
    </div>
  </div>
</nav>
