<div class="flex justify-between w-full px-2 py-3 border-b dark:border-neutral-800">
  <div class="flex items-center gap-x-1.5">
    <input type="checkbox" disabled class="bg-neutral-100 border-neutral-200 dark:bg-neutral-800 border dark:border-neutral-700 rounded">
    <p class="text-xs text-neutral-300 dark:text-neutral-500">Select all</p>
  </div>
  <p class="text-neutral-400 dark:text-neutral-600 text-xs"><%= @email_threads.count %> emails</p>
</div>
