<div class="flex justify-between w-full px-2 py-3 border-b border-neutral-700/40">
  <div class="flex items-center gap-x-1.5">
    <input type="checkbox" disabled class="bg-neutral-800 border border-neutral-700 rounded">
    <p class="text-xs text-neutral-500">Select all</p>
  </div>
  <p class="text-xs text-neutral-600"><%= @email_threads.count %> emails</p>
</div>
