<div>
  <% threads.reverse.each do |thread| %>
    <%= link_to email_thread_path(thread.id), onmouseover: "event.preventDefault();" do %>
      <%= render "email_list_item", message: thread.messages.last %>
    <% end %>
  <% end %>
</div>
