<div class="pt-[82px]">
  <% if @email_threads.any? %>
    <%= render partial: "email_list", locals: { threads: @email_threads } %>
  <% else %>
    <div class="flex flex-col items-center justify-center h-full">
      <p class="text-lg">Nothing to see here 👀</p>
      <p class="text-neutral-400">We'll let you know when you have an email to worry about</p>
    </div>
  <% end %>
</div>
