<div class="absolute bottom-3">
  <div class="flex justify-center w-screen">
    <div class="flex items-center gap-x-1 p-1 dark:bg-neutral-800 border dark:border-neutral-700 rounded-xl">
      <div class="flex items-center h-8 px-2 text-neutral-400 rounded-lg bg-neutral-700">
        <div class="flex items-center justify-center w-5 h-5 bg-sky-200 rounded-full">
          <p class="text-neutral-900 text-sm font-medium"><%= current_user.first_name.first %></p>
        </div>
      </div>
      <div class="flex items-center h-8 px-2.5 text-neutral-400 rounded-lg bg-neutral-700">
        <svg width="22" height="22" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"></path>
        </svg>
      </div>
      <%= link_to sessions_path, method: :delete do %>
        <div class="flex items-center justify-center h-8 px-2 text-red-200 bg-red-200/30 rounded-lg">
          <svg width="20" height="20" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.75 8.75L19.25 12L15.75 15.25"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H10.75"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H15.25"></path>
          </svg>
        </div>
      <% end %>
    </div>
  </div>
</div>
