<li>
  <%= link_to path, class: 'group block hover:bg-highlight-light dark:hover:bg-highlight-dark p-2 text-sm font-semibold text-heading-light dark:text-heading-dark dark:hover:text-white flex items-center rounded-lg' do %>
    <%= lucide_icon(icon, class: 'text-black dark:text-heading-dark dark:group-hover:text-white stroke-current mr-2 w-5 h-5') %>
    <%= t(title.to_s) %>
  <% end %>
</li>