<div data-action="click->navbar#toggleMenu"
     class="flex items-center justify-between h-11 pl-1.5 pr-2 hover:bg-highlight-light dark:hover:bg-highlight-dark rounded-lg cursor-pointer">
  <div class="flex items-center gap-x-1.5">
    <div class="w-8 h-8 bg-neutral-950 rounded-md flex items-center justify-center text-white text-sm uppercase">C</div>
    <div>
      <p class="text-sm font-medium">Caley</p>
      <p class="-mt-0.5 text-xs text-neutral-400"><%= current_user.email %></p>
    </div>
  </div>
  <div class="relative cursor-pointer">
    <div class="flex items-center justify-center w-6 h-6 text-sm font-medium text-white dark:text-black bg-black dark:bg-white rounded-full">
      <%= current_user.email.first.capitalize %>
    </div>
  </div>
</div>