/* Application styles */

.heart {
  color: #e00;
  animation: beat 0.45s infinite alternate;
  transform-origin: center;
  display: inline-block;
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
