/* Search Modal */

.search-item-highlight {
    background-color: #e5e5e5;
    color: black;
}

.logout-btn {
    &.search-item-highlight {
        background-color: #fae7e7;
        color: black;
    }
}