<div class="bg-white">
  <div class="relative px-6 isolate pt-14 lg:px-8">
    <div class="absolute inset-x-0 overflow-hidden -top-40 -z-10 transform-gpu blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff0000] to-[#f6b9b9] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="max-w-2xl pt-16 pb-8 mx-auto sm:py-24 lg:py-28">
      <div class="text-center">
        <%= image_tag "rails-logo.png", class: "mx-auto" %>
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">caley.io 
          <div class="heart">♥</div>
          Rails</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">A barebones base Ruby on Rails application template.</p>
      </div>
    </div>
  </div>
</div>
