<footer class="z-10 bg-white">
  <div class="px-6 py-10 mx-auto overflow-hidden max-w-7xl sm:py-12 lg:px-8">
    <div class="mt-10 text-xs leading-5 text-center text-gray-500">
      <a href="https://avi.nyc" title="avi.nyc">caley.io</a>
      <div class="heart">❤️</div>
      <span>Rails</span>
    </div>
  </div>
</footer>
